@import '../../variables.scss';

div.pager {
    text-align: center;

    a {
        display: inline-block;
        border: 1px solid $color-border-1;
        padding: 3px 5px 2px 5px;
        margin: 0 3px;
        font-size: 0.8em;
        font-weight: bold;
        text-transform: uppercase;
    }

    a:hover {
        background-color: $color-back-light;
    }
}