nav.site-menu {

    a {
        margin-right: 20px;
        font-weight: bold;
                text-decoration: none;
                color: #444;
    }

    a:visited {
        color: #444;
    }

    a.active {
        color: red;
    }

}