@import '../../variables.scss';

.site-header {
    background-color: $color-back-dark;
    border-bottom: 1px solid $color-border-1;

    h1.site-title {
        margin: 8px 5px 3px 20px;

        a {
            color: $color-font-1;
            text-transform: uppercase;
        }
    }

    nav.site-menu {
        text-align: right;
        margin-right: 20px;
        a {
            display: inline-block;
            font-weight: bold;
            text-decoration: none;
            margin: 16px 10px 0 10px;
        }

        a:visited {
            color: $color-font-2;
        }

        a.active {
            color: $color-font-1;
        }
        a:hover {
            border-bottom: 3px solid $color-font-2;
        }
    }
}
