.site-header {
  background-color: #1872ab;
  color: #fafafa; }
  .site-header h1.site-title {
    margin: 8px 5px 20px 20px; }
    .site-header h1.site-title a {
      color: #fafafa; }
      .site-header h1.site-title a img {
        vertical-align: middle; }
  .site-header h5 {
    margin: 8px 5px 10px 20px;
    font-size: 1em; }
  .site-header .page-header-menu {
    margin-top: 5px;
    padding: 0 0 0 5px; }
    .site-header .page-header-menu nav.site-menu a {
      text-align: center;
      display: inline-block;
      font-weight: bold;
      text-decoration: none;
      margin: 16px 10px 0 10px;
      padding: 10px;
      border-top: 1px solid #176ba1;
      border-bottom: 1px solid #176ba1; }
      .site-header .page-header-menu nav.site-menu a span {
        display: none; }
      .site-header .page-header-menu nav.site-menu a img {
        display: inline; }
    .site-header .page-header-menu nav.site-menu a:visited {
      color: #dfdfdf; }
    .site-header .page-header-menu nav.site-menu a.active {
      color: #fafafa; }
    .site-header .page-header-menu nav.site-menu a:hover {
      background-color: #1f95e0; }
  @media only screen and (min-width: 920px) {
    .site-header .page-header-menu {
      margin-top: 20px;
      padding: 20px 0; }
      .site-header .page-header-menu nav.site-menu a {
        display: block; }
        .site-header .page-header-menu nav.site-menu a span {
          display: inline; }
        .site-header .page-header-menu nav.site-menu a img {
          display: none; } }
.blog-message {
  margin: 20px 30px 30px 40px;
  border-bottom: 1px solid #dedede; }
  .blog-message header {
    margin-bottom: 10px;
    padding: 5px 10px; }
    .blog-message header h1 {
      margin: 3px 0;
      color: #444; }
    .blog-message header p {
      color: #444;
      font-size: 0.8em;
      margin: 3px 0; }
    .blog-message header .category {
      display: inline-block;
      border: 1px solid #ddd;
      padding: 4px 5px 2px 5px;
      margin: 0 3px;
      font-size: 0.8em;
      text-transform: uppercase; }
  .blog-message .blog-message-body {
    padding: 5px 10px;
    text-align: justify; }
  .blog-message footer {
    margin-top: 10px;
    padding: 5px 10px;
    border-top: 1px solid #427474; }
.alert {
  border: 1px solid darkred;
  padding: 10px;
  margin: 10px; }
  .alert p {
    font-weight: bold; }
div.pager {
  text-align: center; }
  div.pager a {
    display: inline-block;
    margin: 5px 20px;
    color: #444;
    font-weight: bold; }
div.list-ctn {
  margin: 10px; }
  div.list-ctn .info-element {
    padding: 10px; }
div.dashboard div.dashboard-menu {
  padding-top: 20px;
  color: #fafafa; }
  div.dashboard div.dashboard-menu ul.menu-list {
    list-style: none;
    margin: 0;
    padding: 0; }
    div.dashboard div.dashboard-menu ul.menu-list li.menu-item a {
      display: block;
      padding: 10px 5px;
      text-decoration: none; }

div.dashboard div.dashboard-content {
  padding: 20px; }
div.login {
  margin: 0 auto;
  width: 400px;
  padding: 10px; }
.message-editor-ctn {
  background-color: #fff; }
  .message-editor-ctn .message-settings .message-settings-selection {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #dedede; }
.onefile {
  border: 1px solid #ddd;
  padding: 5px;
  display: table;
  width: 100%; }
  .onefile .onefile-row {
    display: table-row;
    width: 100%; }
    .onefile .onefile-row div {
      display: table-cell;
      width: 50%; }
      .onefile .onefile-row div h5 {
        margin: 3px 0;
        font-weight: bold; }
      .onefile .onefile-row div span {
        font-size: 0.9em; }
    .onefile .onefile-row div:last-child {
      text-align: right;
      vertical-align: middle; }
.file-upload {
  padding: 10px; }
  .file-upload .file-upload-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; }
  .file-upload .file-upload-file + label {
    display: inline-block;
    border: 1px solid #ddd;
    font-size: 1.1em;
    padding: 3px 10px;
    cursor: pointer; }
  .file-upload .upload-list {
    margin-top: 3px; }
html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

body {
  background-color: #fff;
  color: #444;
  box-sizing: border-box;
  font-family: "Open Sans", Helvetica, Arial, sans-serif; }

a {
  text-decoration: none;
  color: #444; }

.app {
  width: 100%;
  height: 100%; }

table {
  border-collapse: collapse;
  width: 100%; }
  table thead tr {
    border-bottom: 2px solid #dedede; }
    table thead tr th {
      font-weight: bold; }
  table tbody tr {
    border-bottom: 1px solid #dedede; }
  table td, table th {
    padding: 1rem;
    text-align: left; }

a.link-close {
  display: inline-block;
  padding: 3px 6px;
  text-transform: lowercase;
  font-weight: bold;
  cursor: pointer;
  border-top: 1px solid #176ba1;
  background-color: #1872ab;
  color: #fafafa; }

@media only screen and (min-width: 920px) {
  .page-layout {
    padding: 0 0 0 300px;
    margin: 0; }
    .page-layout .menu-section {
      background-color: #1872ab;
      height: 100vh;
      width: 300px;
      position: fixed;
      z-index: 100;
      top: 0;
      left: 0; }
    .page-layout .content-section {
      background-color: #fff; } }

@media only screen and (max-width: 919px) {
  .page-layout {
    padding: 0;
    margin: 0; }
    .page-layout .menu-section {
      background-color: #1872ab;
      width: 100%; }
    .page-layout .content-section {
      background-color: #fff; } }

/* media only screen and (max-width: 1024px)*/
