$color-white: #fff;
$color-light-font-2: #dfdfdf;
$color-dark-font: #444;

$color-back-dark: #1872ab;
$color-back-light: #cddddd;

$color-border-1: #dedede;
$color-border-2: #c5d3d3;
$color-border-3: #3ab4b5;
$color-border-4: #427474;

$color-font-1: #fafafa;
$color-font-2: #dfdfdf;
$color-font-3: #427474;
$color-font-4: #444;
