@import '../../variables.scss';

div.list-ctn {
    margin: 10px;

    .info-element {
        padding: 10px;
        background-color: $color-primary-0;
        border: 1px solid $color-primary-2;
        color: $color-light-font;
    }
    
}