@import '../../variables.scss';

div.dashboard {

    div.dashboard-menu {
        padding-top: 20px;
        color: $color-font-1;

        ul.menu-list {
            list-style: none;
            margin: 0;
            padding: 0;

            li.menu-item {
                a {
                    display: block;
                    padding: 10px 5px;
                    text-decoration: none;
                }
            }
        }
    }

    div.dashboard-content {
        padding: 20px;
    }
}